body {
    font-family: Arial, sans-serif;
    background:linear-gradient(to right, #9c75c9, #7942d1);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    background:linear-gradient(to right, #be9fe7, #ad7bee); 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.356);
}
h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #4b0082;
    text-align: center;
}
.list {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #800080;
    text-align: center;
    border-top: #4b0082;
}
ol {
    list-style-type: none;
    background-color: #f9f9f9;
    padding: 15px;
    text-decoration: none;
    border-radius: 10px;
}
li {
    margin: 8px 0;
    font-size: 18px;
    color: #6005aac0;
}
h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #3e0169;
    margin-top: 20px;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: #11001d;
    line-height: 1.5;
}

